body{background-color:#d3d3d3;justify-content:center;align-items:center;min-height:100vh;margin:0;display:flex}.card{text-align:center;background-color:#fff;border-radius:8px;width:260px;padding:20px}
